VITE_FIREBASE_API_KEY=AIzaSyAa_vujJ0ojZDsoViYblis7y2L3leaApY8
VITE_FIREBASE_AUTH_DOMAIN=ar-restaurant-scanner.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ar-restaurant-scanner
VITE_FIREBASE_STORAGE_BUCKET=ar-restaurant-scanner.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=198001303711
VITE_FIREBASE_APP_ID=1:198001303711:web:b7cbb24e6aca34741682aa
